<section class="hero">
	<%# Absolute SVG that is displayed on page %>
	<img src="/media/topItem.svg" class="topItem" />
		<%# Hero Content %>
		<span class="heroWrap">
			<article>
				<h1>Dot
        <span	class="headerSecondaryText">Companion</span>
        </h1>
				<p>Introducing the Enhanced Braille Translator Web Application: Bridging the Gap in Communication Between Sighted and Visually Impaired Individuals. Our mission is to create an inclusive digital environment by developing a cutting-edge web application that seamlessly translates text to Braille and vice versa. By doing so, we empower visually impaired users and promote effortless communication with the sighted community.</p>

				
			</article>
			<%# Absolute SVG that is displayed on page %>
		<img class="art" src="/media/art1.jpg" />
		</span>
</section>